.navbar-section{
    background-color: rgb(44, 62, 80);
    height: 60px;
}
section{
    min-height: 150px;
}
.color-green{
    background-color: rgb(26, 188, 156);
}
.color-blu{
    background-color: rgb(58, 84, 109);
}
.box{
    background-color: crimson;
    min-height: 100px;
    margin: 15px 0;
}