.navbar-section{
    background-color: rgb(44, 62, 80);
}
.navbar-my-theme{
    background-color: rgb(44, 62, 80);
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-my-theme .navbar-brand,
.navbar-my-theme .navbar-nav>li>a{
    color: white;
}
section{
    padding: 20px 0;
}
.color-green{
    background-color: rgb(26, 188, 156);
}
.color-blu{
    background-color: rgb(58, 84, 109);
}
.box{
    margin: 15px 0;
}
.my-img-container{
    max-width: 150px;
}
.my-p,
.my-h2,
.my-a{
    color: white;
}
.form-control{
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    border-radius: 0;
}
.btn-outline-block{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.my-button{
    background-color: rgb(26, 188, 156);
    color: white;
    border: 1px solid transparent;
}
.line{
    border-top: solid 4px white;
    background-color: white;
    border-radius: 2px;
    width: calc(50% - 50px);
    display: inline-block;
}
.start{
    vertical-align: middle;
    display: inline-block;
    font-size: 30px;    
    margin: 0 10px;
    color: white;
}
.my-star{
    color: black;
    vertical-align: middle;
    display: inline-block;
    font-size: 30px;    
    margin: 0 10px;
}
.my-line{
    border-top: solid 4px;
    border-radius: 2px;
    width: calc(50% - 50px);
    display: inline-block;
}
.start span{
    vertical-align: text-top;
}
.start-container{
    max-width: 320px;
    text-align: center;
}
footer {
    color: white;
}
footer h3,
footer p{
    text-align: center;
}
.color-blu i{
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
}