header .row{
    background-color: rgb(44, 62, 80);
    color: aliceblue;
    padding: 10px 0;
}
header .row:nth-child(2){
    background-color: rgb(26, 188, 156);
    padding: 10px 0;
}
nav{
    padding: 20px 0;
}
nav .row{
    color: chartreuse;
    padding: 10px 0;
}
main .row:first-child{
    background-color: rgb(26, 188, 156);
}
main .row{
    padding: 20px 0; 
}
footer .row:first-child{
    background-color: rgb(58, 89, 109);
}
footer .row:last-child{
    background-color: rgb(44, 62, 80);
}